<%-include('head.ejs')%>
    <div class="container">
        <div class="row" >
            <div class="col-sm-8" >

                <h1>My Latest Post </h1>  
                <div id="message" style="color: aquamarine; font-size: 19px; background-color: chartreuse;">
                    <%- messages('message', locals) %>
                </div>
 
 <% Blog.forEach(item=>{ %>
<div>
   <a href="/post/<%=item._id %>"><h3><%=item.title%></h3></a>
    <h4><%=item.description%></h4>
    <p> <%= item.createdAt.toDateString()%></p>
    <p> <%= item.message%></p>
    
   

</div>
<% }) %>

            </div>
            
        </div>
    </div>
    <%-include('footer.ejs')%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9f5cd78fa4.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>