<%-include('csshead.ejs')%>
<div class="container">
    <h1>Edit Article</h1>
    
    <div class="container">
	
        <div class="row">
            <div class="col-sm-6">
    
                <form method="post" action="/edit/<%=blog._id%>" >
                    
                        <div class="form-group">
                        <label for="title">Edit Title</label>
                        <input type="text" name="title" class="form-control" placeholder="<%=blog.title%>">
                        </div>
                        
                        
                        <div class="form-group">
                        <label for="desc"> Edit Description</label>
                        <input type="text" name="des" class="form-control" placeholder="<%=blog.description%>" >
    
                        </div>
    
                        
                    <div class="form-group">
                        <label for="post">Edit Post</label><br>
                        <textarea name="post" size="5" class="form-control"><%=blog.message%></textarea> 
                    </div>
                    <a href="/blog" class="btn btn-danger">Cancel</a>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    
</div>
<%-include('footer.ejs')%>
    
</body>
</html>
