
 <%-include('csshead.ejs')%>
    <div class="container">
        <div class="row" >
            <div class="col-sm-8" >
  
    <h3><%=BlogTitle%></h3>
    <h4><%=BlogDesc%></h4>
    <p> <%= BlogPost%></p>
    <p> <%= BlogDate%></p>

    <a id="edit" href="/edit/<%=Blog._id%>" > <button class="btn btn-primary" >Edit Post</button></a>
    <a id="del" href="/blog/" data-id="<%=Blog._id%>" > <button class="btn btn-primary" >Delete</button></a>
   

</div>
            
</div>
</div>

<%-include('footer.ejs')%>
   <script>
       
      let id = document.getElementById('del')
     
      id.addEventListener('click', Delete)

      let target =  document.getElementById('del')
    target = target.getAttribute('data-id')

      const url = "/blog/"+target
      console.log(url)

       function Delete(){
        if(confirm('are you sure')){
            
                fetch(url, { method: 'DELETE'})
           .then((response)=> response.json())
           .then((json)=>console.log(json)
           )
           .catch(err => console.log(err))
        } else{
            window.location.reload(false);
       }

       }
   </script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://kit.fontawesome.com/9f5cd78fa4.js" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>